<h2>Color Coordinator Generation</h2>
<div class="style_div">
  <form [formGroup]="colorForm" (ngSubmit)="submit()">
    <div class="form-row">
      <label for="rows">Rows (1-1000):</label>
      <input type="text" id="rows" name="rows" formControlName="rows" />
    </div>
    <div class="form-row">
      <label for="columns">Columns (1-702):</label>
      <input
        type="text"
        id="columns"
        name="columns"
        formControlName="columns"
      />
    </div>
    <div class="form-row">
      <label for="colors">Colors (1-10):</label>
      <input type="text" id="colors" name="colors" formControlName="colors" />
    </div>

    <button type="submit" [disabled]="colorForm.invalid" id="submit_button">
      Submit
    </button>
  </form>
</div>
