table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

@media print {
    select {
        display: none;
    }
    .print-button {

        

        body {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        
    }
}



