table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td{
    background-color: white;
    padding: 13px 0px;
}

td:first-child{
    width: 20%;
    background-color: #4F9858;
}

input {
    height: 10%;
    width: 10%;
}

table {
    margin-bottom: 3%;
}


@media print {
    body {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    input, select, .screenView {
        display: none !important;
    }

    .printView {
        display: block !important;
    }    
}

.printView {
    display: none;
}