<div *ngIf="showTable">
  <table>
    <tr *ngFor="let r of [].constructor(colors); let i = index">
      <td>
        <input
          type="radio"
          name="selectedColor"
          [(ngModel)]="selectedColor"
          [value]="selectedColors[i]"
          (change)="colorCoordinationService.setActiveColor(selectedColor)"
        />
        <select 
          [(ngModel)]="selectedColors[i]"
          (change)="onColorChange($event.target.value, i)"
        >
          <option
            *ngFor="let color of colorList"
            [value]="color.value"
            [disabled]="isColorAvailable(color.value, i)"
          >
            {{ color.viewValue }}
          </option>
        </select>
      </td>
      <td>
        {{ colorCoordinationService.getSortedCoordsForColor(selectedColors[i]).join(', ') }}
      </td>
    </tr>
  </table>
</div>
