<div *ngIf="showTable" class="table-div">
  <table border="1" class="table">
    <tr class="table-headers">
      <th></th>
      <th
        *ngFor="let col of [].constructor(columns); let i = index"
        class="column-headers"
      >
        {{ getColumnName(i) }}
      </th>
    </tr>
    <tr *ngFor="let r of [].constructor(rows); let rowIndex = index">
      <td class="table-headers">{{ rowIndex + 1 }}</td>
      <td
        *ngFor="let c of [].constructor(columns); let colIndex = index"
        (click)="onCellClick(rowIndex + 1, colIndex)"
        [ngStyle]="{'background-color': colorCoordinationService.getCellColor(getColumnName(colIndex) + (rowIndex + 1))}"
      ></td>
    </tr>
  </table>
</div>


<div class="print-button">
  <button (click)="printPage()">Print</button>