.table {
    min-width: 100%;
    align-self: center;
    background-color: white;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid lightgrey;
}

.table-div {
    display: flex;
}

.table-headers{
    background-color: black;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 2px;
}

.print-button button{
    margin: 15px 0;
    display: flex;
    justify-self: center;
    background-color: white;
    font-family: "Merriweather", serif;
    padding: 10px;
    border-radius: 10%;
    border: solid 2px black;
    color: black;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.print-button button:hover{
    background-color: black;
    color: white;
    border: solid 2px white;
}

@media print {
    
    .print-button {
        
        body {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        
    }
}
