/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: #8dccda;
    /* font-family: arial, sans-serif; */
    font-family: "Sarala", sans-serif;
    font-size: 14px;
  }
  
  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    ;
  }

  h1,h2,h3{
    font-family: "Merriweather", serif;
  }
  
#teamMembers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.teamMember{
  display: inline-block;
  flex-grow: 1;
  margin: 5px 20px;
  padding: 5px 20px;
}

.teamMemberImage{
  max-width: 90%;
  max-height: 90%;
}

.teamMemberParagraph{
  text-align: center;
}

  /* Applies to all elements with <... class="someclass"> specified. */
  .someclass { color: #959df4; }
  
  /* Applies to the element with <... id="someid"> specified. */
  #someid { color: #aa95f2; }

 /*   Let's use these colors!
 
 #90d6b9, #000000
#8dccda, #000000
#8eadee, #000000
#959df4, #000000
#aa95f2, #000000

 */