  
h1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center
    ;
  }

  h2 {
    text-align: center;
    margin: -12px 0 35px 0;
  }

  h3 {
    font-size: 150%;
  }

h2,h3{
    font-family: "Merriweather", serif;
  }
  
#teamMembers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.teamMember{
  display: inline-block;
  flex-grow: 1;
  margin: 5px 20px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5%;
  border: 8px solid #D6B9EB;
}

.teamMemberImage{
  max-width: 90%;
  max-height: 90%;
  border-radius: 5%;
  display: flex;
  justify-self: center;
}

.teamMemberParagraph{
  text-align: center;
}