<h2>Welcome to our site.</h2>
<div>
  <p class="home-p">
    Thanks for visiting Calico Critters—a student-built website focused on
    simple, interactive design. This site includes two main features:
  </p>
  <ul class="home-p">
    <li>an About page that shares a bit about our team and project</li>
    <li>
      and a Color Tool that lets you select colors and apply them using an
      interactive form.
    </li>
  </ul>
  <p class="home-p">
    Whether you're here to learn about us or test out the color tool, we hope
    you find the experience clean, intuitive, and fun to use.
  </p>
</div>
